<div class="dashboardContainer">
  <h2>User Detail</h2>
  <div class="userDetailContainer">
    <app-data-card
      [showCardColor]="'#6b3ea4'"
      [cardPosition]="'Distributor'"
      [totalVal]="'10000'"
      [secondContent]="'Total'"
      [icon]="userIcon"
    ></app-data-card>
    <app-data-card
      [showCardColor]="'#f66b4e'"
      [cardPosition]="'Distributor Unit'"
      [totalVal]="'10000'"
      [secondContent]="'Total'"
      [icon]="moneyIcon"
    ></app-data-card>
    <app-data-card
      [showCardColor]="'#1ca2d5'"
      [cardPosition]="'Senior Master'"
      [totalVal]="'10000'"
      [secondContent]="'Total'"
      [icon]="userIcon"
    ></app-data-card>
    <app-data-card
      [showCardColor]="'#21a544'"
      [cardPosition]="'Sr Master Unit'"
      [totalVal]="'10000'"
      [secondContent]="'Total'"
      [icon]="moneyIcon"
    ></app-data-card>

    <app-data-card
      [showCardColor]="'#6b3ea4'"
      [cardPosition]="'Master'"
      [totalVal]="'10000'"
      [secondContent]="'Total'"
      [icon]="userIcon"
    ></app-data-card>
    <app-data-card
      [showCardColor]="'#f66b4e'"
      [cardPosition]="'Master Unit'"
      [totalVal]="'10000'"
      [secondContent]="'Total'"
      [icon]="moneyIcon"
    ></app-data-card>
    <app-data-card
      [showCardColor]="'#1ca2d5'"
      [cardPosition]="'Agent'"
      [totalVal]="'10000'"
      [secondContent]="'Total'"
      [icon]="userIcon"
    ></app-data-card>
    <app-data-card
      [showCardColor]="'#21a544'"
      [cardPosition]="'Agent Unit'"
      [totalVal]="'10000'"
      [secondContent]="'Total'"
      [icon]="moneyIcon"
    ></app-data-card>
    <app-data-card
      [showCardColor]="'#6b3ea4'"
      [cardPosition]="'User'"
      [totalVal]="'10000'"
      [secondContent]="'Total'"
      [icon]="userIcon"
    ></app-data-card>
    <app-data-card
      [showCardColor]="'#f66b4e'"
      [cardPosition]="'User Unit'"
      [totalVal]="'10000'"
      [secondContent]="'Total'"
      [icon]="moneyIcon"
    ></app-data-card>
  </div>

  <h2>Total Summary</h2>
  <div class="summaryContainer">
    <app-summary-card
      [containerTitle]="containerTitleForToday"
      [todayBetIconBgColor]="todayBetIconBgColor"
      [todayBetFirstValue]="todayBetFirstValue"
      [todayBetSecondValue]="todayBetSecondValue"
      [todayCountValue]="todayCountValue"
      [todayBetIconLink]="todayBetIconLink"
      [todayBetWinIconBgColor]="todayBetWinIconBgColor"
      [todayBetWinFirstValue]="todayBetWinFirstValue"
      [todayBetWinSecondValue]="todayBetWinSecondValue"
      [todayCountWinValue]="todayCountWinValue"
      [todayBetWinIconLink]="todayBetWinIconLink"
      [todayDepositIconBgColor]="todayDepositIconBgColor"
      [todayDepositFirstValue]="todayDepositFirstValue"
      [todayDepositSecondValue]="todayDepositSecondValue"
      [todayDepositValue]="todayDepositValue"
      [todayDepositIconLink]="todayDepositIconLink"
      [todayWithdrawIconBgColor]="todayWithdrawIconBgColor"
      [todayWithdrawFirstValue]="todayWithdrawFirstValue"
      [todayWithdrawSecondValue]="todayWithdrawSecondValue"
      [todayWithdrawValue]="todayWithdrawValue"
      [todayWithdrawIconLink]="todayWithdrawIconLink"
    ></app-summary-card>

    <app-summary-card
      [containerTitle]="containerTitleForMonth"
      [todayBetIconBgColor]="monthlyBetIconBgColor"
      [todayBetFirstValue]="monthlyBetFirstValue"
      [todayBetSecondValue]="monthlyBetSecondValue"
      [todayCountValue]="monthlyCountValue"
      [todayBetIconLink]="monthlyBetIconLink"
      [todayBetWinIconBgColor]="monthlyBetWinIconBgColor"
      [todayBetWinFirstValue]="monthlyBetWinFirstValue"
      [todayBetWinSecondValue]="monthlyBetWinSecondValue"
      [todayCountWinValue]="monthlyCountWinValue"
      [todayBetWinIconLink]="monthlyBetWinIconLink"
      [todayDepositIconBgColor]="monthlyDepositIconBgColor"
      [todayDepositFirstValue]="monthlyDepositFirstValue"
      [todayDepositSecondValue]="monthlyDepositSecondValue"
      [todayDepositValue]="monthlyDepositValue"
      [todayDepositIconLink]="monthlyDepositIconLink"
      [todayWithdrawIconBgColor]="monthlyWithdrawIconBgColor"
      [todayWithdrawFirstValue]="monthlyWithdrawFirstValue"
      [todayWithdrawSecondValue]="monthlyWithdrawSecondValue"
      [todayWithdrawValue]="monthlyWithdrawValue"
      [todayWithdrawIconLink]="monthlyWithdrawIconLink"
    ></app-summary-card>

    <app-user-summary-card
      [containerTitle]="containerTitleForTopOwner"
      [firstContentValue1]="firstContentValue1ForTopOwner"
      [secondContentValue1]="secondContentValue1ForTopOwner"
      [countValue1]="countValue1ForTopOwner"
      [iconBgColor1]="iconBgColor1ForTopOwner"
      [firstContentValue2]="firstContentValue2ForTopOwner"
      [secondContentValue2]="secondContentValue2ForTopOwner"
      [countValue2]="countValue2ForTopOwner"
      [iconBgColor2]="iconBgColor2ForTopOwner"
      [firstContentValue3]="firstContentValue3ForTopOwner"
      [secondContentValue3]="secondContentValue3ForTopOwner"
      [countValue3]="countValue3ForTopOwner"
      [iconBgColor3]="iconBgColor3ForTopOwner"
      [firstContentValue4]="firstContentValue4ForTopOwner"
      [secondContentValue4]="secondContentValue4ForTopOwner"
      [countValue4]="countValue4ForTopOwner"
      [iconBgColor4]="iconBgColor4ForTopOwner"
    ></app-user-summary-card>
  </div>
</div>
