.dashboardContainer {
  margin-top: 2rem;
  padding-left: 2.4rem;
  padding-right: 2.3rem;
  h2 {
    margin-bottom: 2.4rem;
    font-size: 2rem;
  }
  .userDetailContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    row-gap: 3rem;
    margin-bottom: 3.2rem;
  }
  .summaryContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    row-gap: 3rem;
    margin-bottom: 3.2rem;
  }
}
