<div class="dashboardContainer">
  <h2>User Detail</h2>
  <div class="userDetailContainer">
    <app-data-card
      [showCardColor]="'#6b3ea4'"
      [cardPosition]="'Distributor'"
      [totalVal]="'10000'"
      [secondContent]="'Total'"
      [icon]="userIcon"
    ></app-data-card>
    <app-data-card
      [showCardColor]="'#f66b4e'"
      [cardPosition]="'Distributor Unit'"
      [totalVal]="'10000'"
      [secondContent]="'Total'"
      [icon]="moneyIcon"
    ></app-data-card>
    <app-data-card
      [showCardColor]="'#1ca2d5'"
      [cardPosition]="'Senior Master'"
      [totalVal]="'10000'"
      [secondContent]="'Total'"
      [icon]="userIcon"
    ></app-data-card>
    <app-data-card
      [showCardColor]="'#21a544'"
      [cardPosition]="'Sr Master Unit'"
      [totalVal]="'10000'"
      [secondContent]="'Total'"
      [icon]="moneyIcon"
    ></app-data-card>

    <app-data-card
      [showCardColor]="'#6b3ea4'"
      [cardPosition]="'Master'"
      [totalVal]="'10000'"
      [secondContent]="'Total'"
      [icon]="userIcon"
    ></app-data-card>
    <app-data-card
      [showCardColor]="'#f66b4e'"
      [cardPosition]="'Master Unit'"
      [totalVal]="'10000'"
      [secondContent]="'Total'"
      [icon]="moneyIcon"
    ></app-data-card>
    <app-data-card
      [showCardColor]="'#1ca2d5'"
      [cardPosition]="'Agent'"
      [totalVal]="'10000'"
      [secondContent]="'Total'"
      [icon]="userIcon"
    ></app-data-card>
    <app-data-card
      [showCardColor]="'#21a544'"
      [cardPosition]="'Agent Unit'"
      [totalVal]="'10000'"
      [secondContent]="'Total'"
      [icon]="moneyIcon"
    ></app-data-card>
    <app-data-card
      [showCardColor]="'#6b3ea4'"
      [cardPosition]="'User'"
      [totalVal]="'10000'"
      [secondContent]="'Total'"
      [icon]="userIcon"
    ></app-data-card>
    <app-data-card
      [showCardColor]="'#f66b4e'"
      [cardPosition]="'User Unit'"
      [totalVal]="'10000'"
      [secondContent]="'Total'"
      [icon]="moneyIcon"
    ></app-data-card>
  </div>

  <h2>Total Summary</h2>
  <div class="summaryContainer">
    <app-summary-card></app-summary-card>
    <app-summary-card></app-summary-card>
    <app-summary-card></app-summary-card>
  </div>
</div>
