.popover {
  background: #fff;
  min-width: 220px;
  border-radius: 1.2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
  outline: none;
  overflow: hidden;
  .header {
    width: 100%;
    height: 7rem;
    background-color: var(--selected-color1);
    color: var(--selected-bgcolor);
    font-weight: 700;
    font-size: 2.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .body {
    padding: 1rem 2rem;
  }
}
.cdk-overlay-transparent-backdrop {
  background: transparent;
}
