<div class="header1Container">
  <div class="navbarContainer">
    <div class="toggleContainer">
      <i class="fa-solid fa-bars"></i>
      <div class="banlance">
        <span class="balanceLabel"><i class="fa-solid fa-coins"></i></span>
        <span class="amount">10000</span>
      </div>
    </div>
    <div class="rightContainer">
      <i class="fa-solid fa-magnifying-glass"></i>
      <i class="fa-regular fa-moon"></i>
      <i class="fa-solid fa-expand"></i>
      <i class="fa-regular fa-bell"></i>
      <i class="fa-regular fa-envelope"></i>
      <img
        [src]="profileUrl"
        alt="Profile Image"
        cdkOverlayOrigin
        #imgOrigin="cdkOverlayOrigin"
        (click)="isProfileOpen = !isProfileOpen"
      />
      <i class="fa-solid fa-gear"></i>
    </div>
  </div>
</div>

<app-profile-modal [(open)]="isProfileOpen" [origin]="imgOrigin" [title]="profileTitle">
  <ul class="profileSettingContainer">
    <li>
      <i class="fa-solid fa-user"></i>
      <span>Profile</span>
    </li>
    <li>
      <i class="fa-solid fa-clock"></i>
      <span>Activity Log</span>
    </li>
    <li>
      <i class="fa-solid fa-gear"></i>
      <span>Account Setting</span>
    </li>
    <li>
      <i class="fa-regular fa-arrow-right-from-bracket"></i>
      <span>Sign Out</span>
    </li>
  </ul>
</app-profile-modal>
