<div class="sideBarContainer">
  <div class="logoContaienr">
    <h1>Game Bank</h1>
  </div>
  <div class="profileContainer">
    <img src="assets/images/profile.jpg" alt="" />
    <p class="profileName">Thu Yein Soe</p>
    <p class="position">Admin</p>
  </div>
  <div class="menuContainer">
    <ul>
      <li>
        <span><i class="fa-regular fa-house"></i></span>
        <div class="content">
          <span>Dashboard</span>
          <span><i class="fa-solid fa-chevron-right"></i></span>
        </div>
      </li>
      <li>
        <span>
          <i class="fa-solid fa-user-tie"></i>
        </span>
        <div class="content">
          <span>Distributor List</span>
          <span><i class="fa-solid fa-chevron-right"></i></span>
        </div>
      </li>
      <li>
        <span>
          <i class="fa-solid fa-user-group"></i>
        </span>
        <div class="content">
          <span>Senior Master List</span>
          <span><i class="fa-solid fa-chevron-right"></i></span>
        </div>
      </li>
      <li>
        <span>
          <i class="fa-solid fa-people-robbery"></i>
        </span>
        <div class="content">
          <span>Master</span>
          <span><i class="fa-solid fa-chevron-right"></i></span>
        </div>
      </li>
      <li>
        <span>
          <i class="fa-solid fa-people-pulling"></i>
        </span>
        <div class="content">
          <span>Agent List</span>
          <span><i class="fa-solid fa-chevron-right"></i></span>
        </div>
      </li>
      <li>
        <span><i class="fa-solid fa-users"></i></span>
        <div class="content">
          <span>User List</span>
          <span><i class="fa-solid fa-chevron-right"></i></span>
        </div>
      </li>
      <li>
        <span><i class="fa-solid fa-sack-dollar"></i></span>
        <div class="content">
          <span>Deposit</span>
          <span><i class="fa-solid fa-chevron-right"></i></span>
        </div>
      </li>
      <li>
        <span><i class="fa-solid fa-hand-holding-dollar"></i></span>
        <div class="content">
          <span>Withdraw</span>
          <span><i class="fa-solid fa-chevron-right"></i></span>
        </div>
      </li>
      <li>
        <span><i class="fa-solid fa-chart-area"></i></span>
        <div class="content">
          <span>User Report</span>
          <span><i class="fa-solid fa-chevron-right"></i></span>
        </div>
      </li>
      <li>
        <span><i class="fa-solid fa-building-columns"></i></span>
        <div class="content">
          <span>Bank Account</span>
          <span><i class="fa-solid fa-chevron-right"></i></span>
        </div>
      </li>
      <li>
        <span><i class="fa-solid fa-gear"></i></span>
        <div class="content">
          <span>Setting</span>
          <span><i class="fa-solid fa-chevron-right"></i></span>
        </div>
      </li>
      <li>
        <span><i class="fa-solid fa-money-bill-transfer"></i></span>
        <div class="content">
          <span>Unit Transaction History</span>
          <span><i class="fa-solid fa-chevron-right"></i></span>
        </div>
      </li>
    </ul>
  </div>
</div>
