.userSummaryCardContainer {
  width: 100%;
  height: auto;
  background-color: var(--background-bg);
  .titleContainer {
    width: 100%;
    padding: 1.2rem 2rem;
    border-bottom: 1px solid var(--border-bottom);
    h2 {
      color: #262833;
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
  .dataContainer {
    width: 100%;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}
